<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"> <!-- App resources ko layout rendering system me utilize karne ka structure is attribute me maujood hai -->

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Ye tag application ki screen ka koi element ya container represent karta hai -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sizgro"> <!-- App ki presentation layer (UI module) ka view element configuration complete kar raha hai -->

        <activity
            android:name=".launcher"
            android:exported="true"> <!-- Screen views ko visually map kiya gaya hai is XML line ke rules se -->
            <intent-filter> <!-- Screen views ko visually map kiya gaya hai is XML line ke rules se -->
                <action android:name="android.intent.action.MAIN" /> <!-- App ki presentation layer (UI module) ka view element configuration complete kar raha hai -->
                <category android:name="android.intent.category.LAUNCHER" /> <!-- App ki presentation layer (UI module) ka view element configuration complete kar raha hai -->
            </intent-filter> <!-- App resources ko layout rendering system me utilize karne ka structure is attribute me maujood hai -->
        </activity> <!-- XML attribute ya element ko configure karke user interface mein design parameters set kiye ja rahe hain -->

        <activity android:name=".LoginActivity" /> <!-- Ye layout tag application UI ka ek visual component define kar raha hai -->
        <activity android:name=".SignupActivity" /> <!-- Ye layout tag application UI ka ek visual component define kar raha hai -->
        <activity android:name=".UserHomeActivity" /> <!-- App ki presentation layer (UI module) ka view element configuration complete kar raha hai -->
        <activity android:name=".SellerHomeActivity" /> <!-- App ki presentation layer (UI module) ka view element configuration complete kar raha hai -->
        <activity android:name=".AddEditProductActivity" /> <!-- App ki presentation layer (UI module) ka view element configuration complete kar raha hai -->
        <activity android:name=".ProductDetailActivity" /> <!-- App ki presentation layer (UI module) ka view element configuration complete kar raha hai -->
        <activity android:name=".CartActivity" /> <!-- XML attribute ya element ko configure karke user interface mein design parameters set kiye ja rahe hain -->
        <activity android:name=".CheckoutActivity" /> <!-- App resources ko layout rendering system me utilize karne ka structure is attribute me maujood hai -->
        <activity android:name=".MainActivity" /> <!-- Ye tag application ki screen ka koi element ya container represent karta hai -->

    </application> <!-- XML attribute ya element ko configure karke user interface mein design parameters set kiye ja rahe hain -->

</manifest> <!-- Ye tag application ki screen ka koi element ya container represent karta hai -->